/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Composition */
.body-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.header-main-container {
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.nav-main {
  display: grid;
  gap: 1em;
  max-height: 100vh;
}

.main-content {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 2rem;
}

.aside {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  max-height: 100vh;
}

/* TODO: work more on this */

.announcements-container p {
  display: -webkit-box;
  max-width: 200px;
  max-height: 5em;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.header {
  display: grid;
  grid-template-rows: 1fr 3fr;
  gap: 1rem;
  padding: 1em 2em 1em 2em;
  max-height: 5vh;
}

.header-top {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.header-notifications {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
}

.header-bottom {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.welcome-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.welcome-buttons {
  display: flex;
  justify-content: space-around;
  /* for demo */
  max-height: 2rem;
}

/* Utilities */

/* Blocks */
