:root {
  --clr-primary-400: hsl(210, 11%, 15%);

  --clr-neutral-100: hsl(210, 17%, 98%);
  --clr-neutral-400: hsl(210, 16%, 93%);

  --clr-accent-400: hsl(210, 10%, 23%);
  --clr-accent-700: hsl(39, 75%, 50%);

  --ff-primary: "Space Grotesk", -apple-system, BlinkMacSystemFont, avenir next,
    avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
    arial, sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;

  --fs-200: 0.5rem;
  --fs-300: 0.75rem;
  --fs-350: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;
  --fs-800: 2rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

i {
  margin-right: 1.2rem;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Composition */
.body-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  min-height: 100%;
}

.header-main-container {
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.nav-main {
  display: flex;
  flex-direction: column;
  gap: 3em;
  min-height: 100%;
  max-height: 100vh;
  padding-top: 1.6rem;
  padding-left: 1.2rem;
}

.main-content {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 2rem;
}

.aside {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  max-height: 100vh;
}

.announcements-container p {
  display: -webkit-box;
  max-width: 15em;
  max-height: 5em;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.header {
  display: grid;
  grid-template-rows: 1fr 3fr;
  gap: 1rem;
  padding: 1em 2em 1em 2em;
  max-height: 5vh;
}

.header-top {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.header-notifications {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
}

.header-bottom {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.welcome-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.welcome-buttons {
  display: flex;
  justify-content: space-around;
}

/* Utilities */

.text-primary-400 {
  color: var(--clr-primary-400);
}
.text-neutral-100 {
  color: var(--clr-neutral-100);
}
.text-neutral-400 {
  color: var(--clr-neutral-400);
}
.text-accent-400 {
  color: var(--clr-accent-400);
}
.text-accent-700 {
  color: var(--clr-accent-700);
}

.bg-primary-400 {
  background-color: var(--clr-primary-400);
}
.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}
.bg-neutral-400 {
  background-color: var(--clr-neutral-400);
}
.bg-accent-400 {
  background-color: var(--clr-accent-400);
}
.bg-accent-700 {
  background-color: var(--clr-accent-700);
}

.fw-light {
  font-weight: var(--fw-light);
}
.fw-regular {
  font-weight: var(--fw-regular);
}
.fw-bold {
  font-weight: var(--fw-bold);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-350 {
  font-size: var(--fs-350);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.ff-body {
  font-family: var(--ff-body);
}

.ff-heading {
  font-family: var(--ff-heading);
}

/* Blocks */

.nav-ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Button */

.button {
  background-color: var(--clr-accent-400);
  color: var(--clr-neutral-400);
  border: 0;
  width: 6.5rem;
  height: 2.5rem;
  cursor: pointer;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
